<!DOCTYPE html>
<head>
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/all_blogs.css">
    </head>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <table>{{ form }}</table>
    <input type="submit" value="Sign Up">
</form>
</body>
</html>